<h1>GooglePoint</h1>
<p>This is just the beginning.</p>
<%- if logged_in? %>
<p><%= link_to t(:logout), '/logout' %></p>
<%- else -%>
<p><%= link_to t(:login_with_google), '/auth/google' %></p>
<%- end -%>