$header-background: #d0d9d6;
$header-border: 1px solid #9ca6a2;
$header-link: #212625;
$header-link-hover: #bf0404;

$flash-error-color: #bf0404;
$flash-error-text-color: white;
$flash-notice-color: #bf0404;
$flash-notice-text-color: white;

* {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;

  #header {
    padding: 12px;
    background-color: $header-background;
    color: white;
    border-bottom: $header-border;
    
    a, a:link, a:visited {
      text-decoration: none;
      background-color: $header-background;
      color: $header-link;
    }
    
    a:active, a:hover {
      background-color: $header-background;
      color: $header-link-hover;
    }
    
    .right {
     float: right;
    }
    
    .left {
      float: left;
    }
  }

  #content {
    padding: 12px;
    
    input {
      margin: 3px;
      padding: 4px;
    }
    #networks {
      padding: 5px 5px 0 0;
      img {
        padding-right: 4px;
        vertical-align: middle;
      }
    }
  }
  
  #message {
    .error, .notice {
      padding: 8px 12px;
      font-size: 11px;
    }
    
    .error {
      color: $flash-error-text-color;
      background-color: $flash-error-color;
    }
    
    .notice {
      color: $flash-notice-text-color;
      background-color: $flash-notice-color;
    }
  }
}

.reset {
  clear: both;
}