$header-background: black;
$header-border: 1px solid #222;
$header-text: white;
$header-link: white;
$header-link-hover: #bf0404;

$content-background: white;
$content-link: #bf0404;
$content-link-hover: #222;

$flash-error-color: lightred;
$flash-error-text-color: red;
$flash-notice-color: white;
$flash-notice-text-color: green;

* {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  
  .right { float: right; }
  .left { float: left; }

  #header {
    padding: 12px;
    background-color: $header-background;
    color: $header-text;
    border-bottom: $header-border;
    
    a, a:link, a:visited {
      text-decoration: none;
      background-color: $header-background;
      color: $header-link;
    }
    
    a:active, a:hover {
      background-color: $header-background;
      color: $header-link-hover;
    }
  }

  #content {
    padding: 12px;
    background-color: $content-background;
    
    a, a:link, a:visited {
      text-decoration: none;
      background-color: $content-background;
      color: $content-link;
    }
    
    a:active, a:hover {
      background-color: $content-background;
      color: $content-link-hover;
    }
    
    input {
      margin: 3px;
      padding: 4px;
    }
    
    .networks {
      padding: 5px 5px 10px 0;
      img {
        padding-right: 6px;
        vertical-align: middle;
      }
    }
  }
  
  #message {
    .error, .notice {
      padding: 8px 12px 2px;
    }
    
    .error {
      color: $flash-error-text-color;
      background-color: $flash-error-color;
    }
    
    .notice {
      color: $flash-notice-text-color;
      background-color: $flash-notice-color;
    }
  }
}

.reset {
  clear: both;
}