* {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;

  #header {
    padding: 12px;
    background-color: #d0d9d6;
    color: white;
    border-bottom: 1px solid #9ca6a2;
    
    a, a:link, a:visited {
      text-decoration: none;
      color: #212625;
    }
    
    a:active, a:hover {
      color: #bf0404;
    }
    
    .right {
     float: right;
    }
    
    .left {
      float: left;
    }
  }

  #content {
    padding: 12px;
  }
}

.reset {
  clear: both;
}

.error, .notice {
  padding: 12px;
  color: white;
  background-color: #bf0404;
}