* {
  font-family: Verdana, Helvetica, Arial, sans-serif; }

body {
  padding: 0;
  margin: 0;
  background-color: white; }
  body #header {
    padding: 12px;
    background-color: #d0d9d6;
    color: white;
    border-bottom: 1px solid #9ca6a2; }
    body #header a, body #header a:link, body #header a:visited {
      text-decoration: none;
      color: #212625; }
    body #header a:active, body #header a:hover {
      color: #bf0404; }
    body #header .right {
      float: right; }
    body #header .left {
      float: left; }
  body #content {
    padding: 12px; }

.reset {
  clear: both; }

.error, .notice {
  padding: 8px 12px;
  font-size: 11px;
  color: white;
  background-color: #bf0404; }
