* {
  font-family: Verdana, Helvetica, Arial, sans-serif; }

body {
  padding: 0;
  margin: 0;
  background-color: white; }
  body .right {
    float: right; }
  body .left {
    float: left; }
  body #header {
    padding: 12px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #222222; }
    body #header a, body #header a:link, body #header a:visited {
      text-decoration: none;
      background-color: black;
      color: white; }
    body #header a:active, body #header a:hover {
      background-color: black;
      color: #bf0404; }
  body #content {
    padding: 12px;
    background-color: white; }
    body #content a, body #content a:link, body #content a:visited {
      text-decoration: none;
      background-color: white;
      color: #bf0404; }
    body #content a:active, body #content a:hover {
      background-color: white;
      color: #222222; }
    body #content input {
      margin: 3px;
      padding: 4px; }
    body #content .networks {
      padding: 5px 5px 10px 0; }
      body #content .networks img {
        padding-right: 6px;
        vertical-align: middle; }
  body #message .error, body #message .notice {
    padding: 8px 12px 2px; }
  body #message .error {
    color: red;
    background-color: lightred; }
  body #message .notice {
    color: green;
    background-color: white; }

.reset {
  clear: both; }
