* {
  font-family: Verdana, Helvetica, Arial, sans-serif; }

body {
  padding: 0;
  margin: 0;
  background-color: white; }
  body .right {
    float: right; }
  body .left {
    float: left; }
  body #header {
    padding: 12px;
    background-color: #45484d;
    color: white;
    background: #45484d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, black 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%, black 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%, black 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-background', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #45484d 0%, black 100%);
    /* W3C */
    border-bottom: 1px solid #222222; }
    body #header a, body #header a:link, body #header a:visited {
      text-decoration: none;
      color: white; }
    body #header a:active, body #header a:hover {
      color: #bf0404; }
  body #content {
    padding: 12px;
    background-color: white; }
    body #content a, body #content a:link, body #content a:visited {
      text-decoration: none;
      color: #bf0404; }
    body #content a:active, body #content a:hover {
      color: #222222; }
    body #content input {
      margin: 3px;
      padding: 4px; }
    body #content .networks {
      padding: 5px 5px 10px 0; }
      body #content .networks img {
        padding-right: 6px;
        vertical-align: middle; }
  body #message .error, body #message .notice {
    padding: 8px 12px 2px; }
  body #message .error {
    color: red;
    background-color: lightred; }
  body #message .notice {
    color: green;
    background-color: white; }

.reset {
  clear: both; }
