<p><%= t(:signup) %></p>
<%= link_to(image_tag('providers/32px/facebook.png', :title => 'Facebook'), '/auth/facebook') %>
<%= link_to(image_tag('providers/32px/google.png', :title => 'Google'), '/auth/google_oauth2') %>
<%= link_to(image_tag('providers/32px/twitter.png', :title => 'Twitter'), '/auth/twitter') %>