<p><%= t(:signup) %></p>
<%= link_to(image_tag('providers/google.png'), '/auth/google') %>
<%= link_to(image_tag('providers/facebook.png'), '/auth/facebook') %>
<%= link_to(image_tag('providers/twitter.png'), '/auth/twitter') %>