---
  # Default provider settings
  default:
    google:
      key: KEY
      secret: SECRET
      scope: https://www.googleapis.com/auth/plus.me
    facebook:
      key: KEY
      secret: SECRET
      scope: 'user_about_me,email,publish_stream,offline_access'
    twitter:
      key: KEY
      secret: SECRET
      scope:
  # Development settings
  development:
  # Staging settings
  staging:
  # Production settings
  production:
  # Test settings
  test:
