---
  # Default provider settings
  default:
    google:
      key: KEY
      secret: SECRET
      scope: http://www.google.com/base/feeds
    facebook:
      key: KEY
      secret: SECRET
      scope:
    twitter:
      key: KEY
      secret: SECRET
      scope:
    tumblr:
      key: KEY
      secret: SECRET
      scope:
  # Development settings
  development:
  # Staging settings
  staging:
  # Production settings
  production:
  # Test settings
  test:
