<div id="header">
  <div class="left">
    <b><%= t(:app) %></b>
  </div>
  <div class="right">
    <%= (current_user.name + ' - ' + (link_to t(:logout), logout_path)).html_safe if logged_in? -%>
  </div>
  <div class="reset"></div>
</div>