<div id="header">
  <div class="left">
    <h2><%= t(:app) %></h2>
  </div>
  <div class="right">
    <%= logged_in? ? (current_user.name + ' - ' + (link_to t(:logout), logout_path)).html_safe : (link_to t(:login_with_google), '/auth/google') -%>
  </div>
  <div class="reset"></div>
</div>