<div id="header">
  <div class="left">
    <b><%= link_to t(:app), root_path %></b>
  </div>
  <div class="right">
    <%= (login_info + (link_to t(:logout), logout_path)).html_safe if logged_in? -%>
  </div>
  <div class="reset"></div>
</div>